@import "../../../data/styles.css";

.card {
	background-color: var(--bg-secondary);
	border-radius: 8px;
	border: 1px solid var(--border-primary);
	transition: border-color 0.2s ease-in-out;
}

.card:hover {
	border-color: var(--accent-primary);
}

.card-container {
	padding: 30px;
}

.card-header {
	display: flex;
	align-items: center;
}

.card-icon {
	font-size: 15px;
	color: var(--text-secondary);
}

.card-title {
	color: var(--text-primary);
	font-size: 16px;
	padding-left: 20px;
	font-weight: 700;
	font-family: var(--font-secondary);
}

.card-body {
	padding-top: 20px;
	font-size: 15px;
}